.banner-colapsable-bs4 {
	background-color: white;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 99;
	font-family: "Kashie";
}

.banner-sticky {
	height: 46px;
	/*        background-color: var(--primario);*/
	color: white;
	z-index: 100;
	/*margin-bottom: 50px;*/
	font-family: "Kashie";
	font-size: 32px;
	/*height: 50px;*/
}

.centrador-banner-sticky {
	/*padding-top: 8px;*/
	justify-content: center;
	align-content: center;
	text-align: center;
}
.img-banner-bs4 {
	height: 45px;
}
