@import "banner.css";
@import "banner-sticky.css";

* {
	font-family: "Raleway", sans-serif;
}
.flex {
	display: flex;
}
.flex-center {
	display: flex;
	justify-content: center;
}
.flex-center-v {
	display: flex;
	align-items: center;
	align-items: center;
	/* border: solid 1px yellow; */
}
.flex-line {
	display: flex;
	flex-direction: row;
}
.flex-right {
	display: flex;
	justify-content: flex-end;
}

.sin-padding {
	padding-right: 0px;
	padding-left: 0px;
}
.sin-padding-left {
	padding-right: 0px;
}
.sin-padding-right {
	padding-right: 0px;
}
.sticky {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}
.cuerpo {
	height: 1500px;
	background-color: lightgrey;
}
.pointer {
	cursor: pointer;
}
