.labels {
	font-weight: bold;
}

.item-listado-tareas {
	border: solid 1px red;
	border-radius: 50px;
	padding: 12px;
}

.descripcion-tarea {
	border: solid 1px red;
	/* width: 80px; */
}

.fecha-entrega-tarea {
	border: solid 1px red;
}
